<section id="topbar">
    <div class="container">
        <div id="col-12">
            <h1>
                假装LOGO Flaming Sales
            </h1>
            <p>
                <ul>
                    <li> 微信号 </li>
                    <li> 小红书号 </li>
                    <li> 微信公众号 </li>
                    <li> 微博号 </li>
                    <li> 抖音号 </li>
                    <li> 快手号 </li>
                    <li> Instagram号 </li>
                </ul>
            </p>
            <ul>
                <li>假装菜单</li>
            <li>假装搜索栏</li>
            <li>假装用户登陆</li>
            <li>假装Contect Us</li>
            <li>假装Mylist</li>
            </ul>
                    
            </p>
        </div>
    </div>
</section>
